body {
	background:#FCF0C8;
	color:#630A10;
	font-family: tahoma, sans-serif;
	text-align:center;
}

.addborder {
	border:5px solid #F7D098;
}

h1{
	color:#911F27;
	font-family:chalkduster, fantasy;
}
.website-screenshots {
	border:2px solid #F7D098;
	width:500px;
	}

h2{
	padding-top: 90px;
	color:#911F27;
	text-align:left;
}

#internal-links {
	font-family: tahoma, sans-serif;
	font-size: 14px;
	color:#630A10;
	line-height: 150%;
}

#current-link {
	color: black;
	pointer-events: none;
	cursor: default;
	text-decoration: none;
}

p {
	text-align:left;
}

.external-links-descriptions{
	font-family: tahoma, sans-serif;
	font-size: 16px;
	color:#630A10;
}

h3{
	padding-top:50px;
	color:#911F27;
	text-align:left;
}

#header{
	background-color: #c78864;
	height:90px;
	width:100%;
	position:fixed;
	top :0;
}